* {
  /* css reset */
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  font-weight: inherit;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: baseline;
}
